<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>

<body>

    <h1>Student Details Form</h1>
    <form action="{% url 'student_details' %}" method="get">
        <label>Student Name</label>
        <input type="text" name="name"> <br>

        <select name="chosensub">
        <label>Subject</label> {% for item in sub%}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
        <br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>