{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'book_app/style.css' %}">
</head>

<body>
    <h1>Welcome to Book Home page</h1>
    <img src="{%static 'book_app/imu.png'%}" alt="imu" width="300">
    <nav>
        <ul>
            <li><a href="{% url 'metadata' %}">📖 Metadata</a></li>
            <li><a href="{% url 'reviews' %}">⭐ Reviews</a></li>
            <li><a href="{% url 'publisher' %}">🏢 Publisher Info</a></li>
        </ul>
    </nav>
</body>

</html>